.add {
	border-top: 1px solid #dedede;
	margin-top: 16px;
	padding-top: 16px;
}

.jumbotron > #add {
	margin-top: 16px;
}

.add textarea, .add input {
	margin-bottom: 16px;
}

.add textarea {
	min-height: 15vh;
}

.note a:first-of-type {
	margin-right: 16px;
}